@model EntityLayer.Concrete.Project

@{
    ViewData["Title"] = "EditProject";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-header border-0">
    <h3 class="mb-0">Edit Project Page</h3>
</div>

<div class="mx-4 my-2">
    @using (Html.BeginForm("EditProject", "Project", FormMethod.Post))
    {
        @Html.HiddenFor(x=>x.ProjectId)
        <br /> <br />
        @Html.Label("Project Name")
        @Html.TextBoxFor(x => x.Name, new{@class = "form-control"})
        @Html.ValidationMessageFor(x=>x.Name)
        <br /> <br />
        @Html.Label("Project Image")
        @Html.TextBoxFor(x => x.ImageUrl, new{@class = "form-control"})
        @Html.ValidationMessageFor(x=>x.ImageUrl)
        <br /> <br />
        @Html.Label("Project Image Small")
        @Html.TextBoxFor(x => x.ImageUrlSmall, new{@class = "form-control"})
        @Html.ValidationMessageFor(x=>x.ImageUrlSmall)
        <br /> <br />
        @Html.Label("Project Url")
        @Html.TextBoxFor(x => x.ProjectUrl, new{@class = "form-control"})
        @Html.ValidationMessageFor(x=>x.ProjectUrl)
        <br /> <br />
        <button class="btn btn-info mx-3">Update</button>
    }
</div>