@model EntityLayer.Concrete.About
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="card-header border-0">
    <h3 class="mb-3 ">Edit About Page</h3>
</div>
@using (Html.BeginForm("Index", "About", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-description"> Edit About </p>
                <form class="forms-sample">
                    @Html.HiddenFor(x=>x.AboutId)
                    <div class="form-group mb-4">
                        <label>Title</label>
                        @Html.TextBoxFor(x => x.Title, new{@class = "form-control"})
                    </div>
                    <div class="form-group mb-4">
                        <label>Description</label>
                        @Html.TextAreaFor(x => x.Description,5,2, new{@class = "form-control"})
                    </div>
                    <div class="form-group mb-4">
                        <label>About Image</label>
                        @Html.TextBoxFor(x => x.AboutImg, new{@class = "form-control"})
                    </div>
                    <div class="form-group mb-4">
                        <label>About Name</label>
                        @Html.TextBoxFor(x => x.Name, new{@class = "form-control"})
                    </div>
                    <div class="form-group mb-4">
                        <label>About Email</label>
                        @Html.TextBoxFor(x => x.Email, new{@class = "form-control"})
                    </div> 
                    <div class="form-group mb-4">
                        <label>About Email</label>
                        @Html.TextBoxFor(x => x.Phone, new{@class = "form-control"})
                    </div>
                    <div class="form-group mb-4">
                        <label>Address</label>
                        @Html.TextBoxFor(x => x.Address, new{@class = "form-control"})
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Save</button>
                    <button class="btn btn-dark">Close</button>
                </form>
            </div>
        </div>
    </div>
}